body {
  margin: 0;
}
.App{
  --sky-blue-crayola: #1BE7FF;
  --light-green: #6eeb83;
  --chartreuse-traditional: #e4ff1a;
  --goldenrod: #e8aa14;
  --international-orange: #ff5714;
  --middle-grey: #8b8982;
  --charcoal: #373f47;
  --thistle: #cbb3bf;
  --champagne-pink: #dbc7be;
  background-color: var(--charcoal);
  color: white;
  height: 100vh;
  position: relative;
}
.Login{
  height: 100%;
  position: relative;
}
.title{
  /* top right bottom left */
  padding: 18% 0 0 0%;
  text-align: center;
  position: relative;
  font-size: 5vw;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 0.2em;
}
.login{
  text-align: center;
  position: relative;
  /* top right bottom left */
  padding:1% 0 0 0;
}
.login input{
  font-size: 100%;
  margin: 0.25rem;
  /* top right bottom left */
  padding: 0.2rem 1.5rem 0.2rem 1.5rem;
  border-radius: 2rem;
  border-style: none;
}
.login input:focus{
  outline: none;
  border: 3px solid var(--middle-grey);
}
.blueLetter{
  color: var(--sky-blue-crayola)
}
.greenLetter{
  color: var(--light-green)
}
.yellowLetter{
  color: var(--chartreuse-traditional)
}
.orangeLetter{
  color: var(--goldenrod)
}
.redLetter{
  color: var(--international-orange)
}
.greyLetter{
  color: var(--middle-grey)
}
.thistleLetter{
  color: var(--thistle)
}
.pinkLetter{
  color: var(--champagne-pink)
}